[run]
include=
    common/*
    backoffice/*
    currency_providers/*
    project/*
    rates/*
omit =
    venv/*
    */apps.py
    .tox/*
    */migrations/*
    setup.py
    manage.py
    */settings_pro.py
    */settings_local.py
    */wsgi.py